/* @import url('./css/main.css'); */
@import url('./css/main.min.css');

:root {
    /* layout: */
    --max-container-width: 100%;
    --content-padding: 1.6rem;
    --header-height: 6.2rem;

    /* colors: */
    --accent: orange;
    --title: #fff;
    --text: #5e5e5e;
    --text-2: #f7f7f7;
    --back: #101010;
    --card: #1a1a1a;
    --border: #c4c4c4;
    --line: #d9d9d9;
    --White: #eee;
    --White-clean: #fff;
    --Grey: #888;
    --black: #000;
    --grad1: #262e36;
    --grad2: #354380;

    /* typography: */
    --main-ff: "Ruberoid", sans-serif;
    --second-ff: "Stapel Medium", sans-serif;
    --third-ff: "Stapel Narrow", sans-serif;
    --fourth-ff: "Stapel Text Medium", sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

    /* etc.: */
    --transition: 0.3s ease;
}

@media only screen and (min-width: 992px) {
    :root {
        --content-padding: 2rem;
        --header-height: 10.2rem;
    }
}

@media only screen and (min-width: 1401px) {
    :root {
        --content-padding: 4rem;
        --max-container-width: 166rem;
    }
}
