.breadcrumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2.4rem;
        row-gap: 0.8rem;

        @include breakpointMF(portrait-tablet) {
            column-gap : 8rem;
        }
    }

    &__link {
        color: var(--White, #EEE);
        font-size: 1.2rem;
        line-height: 135%;
        letter-spacing: 0.02em;
        pointer-events: none;

        @include breakpointMF(portrait-tablet) {
            font-size: 2rem;
            line-height: 130%;
        }
    }

    &__item {
        &:last-child {
            a {
                color: var(--Grey, #888);
                pointer-events: none;
            }
        }
    }
}
