.breadcrumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2.4rem;
        row-gap: 0.8rem;

        @include breakpointMF(portrait-tablet) {
            column-gap : 8rem;
        }
    }

    &__link {
        color: var(--White, #EEE);
        font-size: 1.2rem;
        line-height: 135%;
        letter-spacing: 0.02em;
        pointer-events: none;
        cursor: pointer;

        @include breakpointMF(portrait-tablet) {
            font-size: 2rem;
            line-height: 130%;
        }

        &:is(.js-navbar-link) {
            pointer-events: all;

            &._active {
                color: var(--Grey, #888);
                pointer-events: none;
            }
        }
    }

    &__item {
        &:last-child {
            a:not(.js-navbar-link) {
                color: var(--Grey, #888);
                pointer-events: none;
            }
        }
    }
}
