.menu {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__item {
        margin-bottom: 2.4rem;

        &:last-child {
            margin-bottom: 0;
        }

        &._low-opacity {
            .menu__link {
                color: var(--Grey, #888);
            }
        }

        &.menu__item--actual {
            .menu__link {
                color: var(--Grey, #888);
                pointer-events: none;
            }

            &._low-opacity {
                .menu__link {
                    color: var(--Grey, #888);
                }
            }
        }
    }

    &__link {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;

        @include breakpointMF(portrait-tablet) {
            font-size: 3rem;
        }

        @include hover() {
            color: var(--Grey, #888);
        }
    }
}
