.service {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    background-color: var(--card, #1a1a1a);
    border-radius: 0.5rem;

    @include breakpointMF(portrait-tablet) {
        border-radius: 1rem;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1.38 / 1;
        overflow: hidden;

        @include breakpointMF(portrait-tablet) {
            aspect-ratio: 2.18 / 1;
        }

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__info {
        padding: 3.2rem 1.6rem;

        @include breakpointMF(portrait-tablet) {
            padding: 4.8rem 3.3rem;
        }
    }

    &__name {
        margin-bottom: 1.6rem;

        @include breakpointMF(portrait-tablet) {
            margin-bottom: 2.4rem;
        }
    }

    &__text {
        color: var(--text, #5e5e5e);

        &.service__text--text {
            @include breakpoint(portrait-tablet) {
                font-size: 1.4rem;
                line-height: 115%;
            }
        }

        @include breakpoint(small-mobile) {
            max-width: 26ch;
        }
    }

    &.service--no-image {
        border-radius: 1rem;

        .service__image {
            display: none;
        }

        .service__name {
            margin-bottom: 2.4rem;

            @include breakpointMF(portrait-tablet) {
                margin-bottom: 4rem;
            }
        }

        .service__info {
            padding: 6.4rem 3.3rem;

            @include breakpointMF(portrait-tablet) {
                padding: 6.4rem 3.3rem;
            }
        }

        .service__text {
            max-width: unset;
        }
    }
}
