.triple-section {
    &.services {
        padding: 9.5rem 0;

        @include breakpointMF(portrait-tablet) {
            padding: 12rem 0 16rem;
        }
    }

    &__heading {
        &.section__heading {
            @include breakpoint(portrait-tablet) {
                margin-bottom: 3.2rem;
            }

            &.services__heading {
                margin-bottom: 4.2rem;

                @include breakpointMF(portrait-tablet) {
                    margin-bottom: 11.8rem;
                }
            }
        }

        &--transition {
            @include breakpoint(portrait-tablet) {
                transform: translateY(0%);
                opacity: 1;

                transition-duration: 0.5s;
                transition-timing-function: ease-out;
                transition-property: transform, opacity;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include breakpointMF(portrait-tablet) {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: stretch;
            gap: 2rem;
        }
    }

    &__cell {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpointMF(portrait-tablet) {
            width: calc(100% / 3 - (2rem * 2 / 3));
            margin-bottom: unset;
        }

        &--transition {
            @include breakpoint(portrait-tablet) {
                transform: translate(0%, 0%);
                opacity: 1;

                transition-duration: 0.7s;
                transition-timing-function: ease-out;
                transition-property: transform, opacity;
            }
        }

        &--animation {
            transform: translate(0%, 0%);
            opacity: 1;

            transition-duration: 0.7s;
            transition-timing-function: ease-out;
            transition-property: transform, opacity;

            @include breakpoint(portrait-tablet) {
                transition-duration: 0.5s;
            }
        }
    }

    &__service {
        height: 100%;
    }

    &__big-image {
        width: 100%;
        aspect-ratio: 2.52 / 1;
        margin-top: 10.4rem;

    }

    &__image-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--back);

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
