.vacancy {
    &__button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2.4rem;

        padding: 2rem 3.2rem;

        background-color: var(--card, #1a1a1a);
        border-radius: 1rem;

        transition: border 0.2s ease;

        @include breakpointMF(portrait-tablet) {
            padding: 3.2rem;
        }

        label {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            cursor: pointer;
        }

        .icon {
            width: 2.4rem;
            height: 2.4rem;

            transition: transform 0.4s ease;

            @include breakpointMF(portrait-tablet) {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    &__name {
        display: block;

        color: var(--Grey, #888);
        font-family: var(--second-ff);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        @include breakpointMF(portrait-tablet) {
            font-size: 3rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            text-transform: uppercase;
        }
    }

    &__dropdown {
        max-height: 0;
        padding-top: 0;
        transform: scaleY(0);
        opacity: 0;
        pointer-events: none;
        transform-origin: top;

        transition: 0.4s ease;
        transition-property: height, max-height, transform, padding, opacity;

        background-color: var(--card, #1a1a1a);
        border-radius: 0 0 1rem 1rem;
    }

    &__link {
        padding: 1.6rem 3.2rem 2rem;
    }

    input[type="checkbox"] {
        &:checked {
            & ~ .vacancy__button {
                border-radius: 1rem 1rem 0 0;

                .icon {
                    transform: rotate(135deg);
                }
            }

            & ~ .vacancy__dropdown {
                max-height: 1000px;
                transform: scaleY(1);
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
