.feedback-btn {
    width: 30.8rem;
    height: 5.8rem;
    padding: 1.6rem 4rem;

    color: var(--White-clean, #fff);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    background: var(--line-grad, linear-gradient(268deg, #262E36 -42.49%, #354380 118.91%));
}
