html, body {
    min-height: 100%;
    margin: 0;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;

    @include breakpointMF(small-tablet) {
        font-size: 12px;
    }

    @include breakpointMF(portrait-tablet) {
        font-size: 10px;
        font-size: unquote("clamp(4px, 0.501vw, 25px)");
    }

    @include noHighlight();
}

body {
    position: relative;
    min-width: 319px;
    min-height: 100vh;
    min-height: 100dvh;

    color: var(--White, #EEE);
    @include text-default();
    text-rendering: optimizeSpeed;

    background-color: var(--back, #101010);
    scroll-behavior: smooth;
}
