@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  src: local("Ruberoid Light"),
    url("../fonts/Ruberoid-Light.woff") format("woff"),
    url("../fonts/Ruberoid-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 450;
  src: local("Ruberoid Regular"),
    url("../fonts/Ruberoid-Regular.woff") format("woff"),
    url("../fonts/Ruberoid-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 500;
  src: local("Ruberoid Medium"),
    url("../fonts/Ruberoid-Medium.woff") format("woff"),
    url("../fonts/Ruberoid-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 700;
  src: local("Ruberoid Bold"),
    url("../fonts/Ruberoid-SemiBold.woff") format("woff"),
    url("../fonts/Ruberoid-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 700;
  src: local("Ruberoid Bold"),
    url("../fonts/Ruberoid-Bold.woff") format("woff"),
    url("../fonts/Ruberoid-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Stapel Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("Stapel Narrow Regular"),
    url("../fonts/Stapel-Narrow.woff") format("woff"),
    url("../fonts/Stapel-Narrow.wof2") format("woff2");
}

@font-face {
  font-family: "Stapel Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Stapel Medium Regular"),
    url("../fonts/Stapel-Medium.woff") format("woff"),
    url("../fonts/Stapel-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Stapel Text Medium";
  font-style: normal;
  font-weight: 700;
  src: local("Stapel Text Medium Regular"),
    url("../fonts/Stapel-Text-Medium.woff") format("woff"),
    url("../fonts/Stapel-Text-Medium.woff2") format("woff2");
}
