.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    max-width: 100%;

    background-color: var(--back, #101010);

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2.2rem;

        @include breakpointMF(portrait-tablet) {
            padding-top: 3.2rem;
        }
    }
}
