.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    max-width: 100%;

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2.2rem;

        @include breakpointMF(portrait-tablet) {
            padding-top: 3.2rem;
        }
    }

    &__button {
        .burger-btn {
            margin-left: auto;
        }

        @include breakpointMF(portrait-tablet) {
            min-width: 30rem;
        }
    }

    &__breadcrumbs {
        display: none;
        margin-top: 7.6rem;

        @include breakpointMF(portrait-tablet) {
            margin-top: 12.8rem;
        }
    }
}
