.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    max-width: 100%;

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2.2rem;

        @include breakpointMF(portrait-tablet) {
            padding-top: 3.2rem;
        }
    }

    &__button {
        .burger-btn {
            margin-left: auto;
        }

        @include breakpointMF(portrait-tablet) {
            min-width: 30rem;
        }
    }

    &__breadcrumbs {
        display: none;
        margin-top: 7.6rem;

        @include breakpointMF(portrait-tablet) {
            margin-top: 12.8rem;
        }
    }

    &.page-header--fixed {
        position: fixed;
        animation: transAnim 0.3s ease 1 forwards;

        .page-header__logo {
            opacity: 0;
        }

        .page-header__phone {
            opacity: 0;
        }

        .page-header__button {
            .burger-btn {
                background-color: var(--Grey, #888);

                @include breakpointMF(portrait-tablet) {
                    background-color: var(--back, #101010);
                }
            }
        }

        .page-header__breadcrumbs {
            display: none;
        }
    }
}

@keyframes transAnim {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes transAnimReverse {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes opacityAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
